<%- include('../partials/header', { title: 'Login Page' }) %>
<%- include('../partials/navbar', { role }) %>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Categories of Medicines</h1>
    <a href="/admin/addCategory" class="btn btn-primary">Add New Category</a>
  </div>
  
  <!-- Category Table -->
  <div class="card">
    <div class="card-header">
      <h2 class="h5">Category List</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">NO</th>
            <th scope="col">Category Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Example Row -->
          <% data.forEach((ele,i) => { %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= ele.name %></td>
            <td>
              <a href="/admin/<%= ele.id %>/editCategory" class="btn btn-sm btn-warning">Edit</a>
             <a href="/admin/<%= ele.id %>/deleteCategory"><button class="btn btn-sm btn-danger">Delete</button></a>
            </td>
          </tr>
          <% }) %>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>

  <%- include('../partials/footer') %>

