<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Order Prot of Medicines</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Order Product of Medicines</h1>
      <a href="/admin/addCategory" class="btn btn-primary">Add New OrderProduct</a>
    </div>
    
    <!-- Category Table -->
    <div class="card">
      <div class="card-header">
        <h2 class="h5">Order Product List</h2>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">NO</th>
              <th scope="col">OrderId</th>
              <th scope="col">ProductId</th>
              <th scope="col">ProductName</th>
              <th scope="col">Quantity</th>
              <th scope="col">Product Price</th>
              <th scope="col">Total Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Example Row -->
            <% data.forEach((ele,i) => { %>
            <tr>
              <td scope="row"><%= i + 1 %></td>
              <td scope="row"><%= ele.Order.id%></td>
              <td scope="row"><%= ele.Product.id%></td>
              <td scope="row"><%= ele.Product.name%></td>
              <td scope="row"><%= ele.quantity%></td>
              <td scope="row"><%= rupiah(ele.price) %></td>
              <td scope="row"><%= rupiah(ele.quantity >= 0 ? ele.quantity * ele.Product.price : 0) %></td>
              
              <td>
                <a href="/admin/<%= ele.id %>/editCategory" class="btn btn-sm btn-warning">Edit</a>
               <a href="/admin/<%= ele.id %>/deleteCategory"><button class="btn btn-sm btn-danger">Delete</button></a>
              </td>
            </tr>
            <% }) %>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
