<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Categories of Medicines</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%- include('partial/_navbar') %>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Order of Medicines</h1>
      <a href="addCategory.html" class="btn btn-primary">Add New Category</a>
    </div>
    
    <!-- Category Table -->
    <div class="card">
      <div class="card-header">
        <h2 class="h5">Order List</h2>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">NO</th>
              <th scope="col">User Name</th>
              <th scope="col">Order Status</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Example Row -->
            <% data.forEach((ele,i) => { %>
            <tr>
              <td scope="row"><%= i + 1 %></td>
              <td scope="row"><%= ele.User.username%></td>
              <td scope="row"><%= ele.orderStatus%></td>
              <td scope="row"><%= rupiah(ele.totalAmount)%></td>
              <td>
                <a href="/admin/<%= ele.id %>/editOrder" class="btn btn-sm btn-warning">Edit</a>
                <button class="btn btn-sm btn-danger">  Delete</button>
              </td>
            </tr>
            <% }) %>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
