<%- include('../partials/header', { title: 'Login Page' }) %>
<%- include('../partials/navbar', { role }) %>

<div class="container">
  <div class="my-5 text-center">
      <h1 class="fs-1">Category List</h1>
  </div>
    <ul class="row mx-5">
      <% data.forEach((el,i) => { %>
        <li class="col-4">
          <a href="/shop/category/<%= el.id %>" role="button" class="btn"><%= el.name %></a>
        </li>
        <% }) %>
    </ul>  
  </div>

  <%- include('../partials/footer') %>

