<%- include('../partials/header', { title: 'Login Page' }) %>
<%- include('../partials/navbar', { role }) %>


<div class="container">
    <div class="mt-5 text-center">
        <h1 class="fs-1">List of Products</h1>
        <p>Total products we have: <%= dataValues.total %></p>
    </div>
    <div class="container col-8 shadow rounded-5">
        <form class="row g-3 my-3 " action="/shop/products" method="get">
            <div class="col-9">
                <input type="text" class="form-control rounded-5 form-control-lg" name="search" placeholder="Search by title">
            </div>
            <div class="d-grid gap-2 col-3">
                <button type="submit" class="btn btn-outline-warning rounded-5 mb-3 btn-lg">Search</button>
            </div>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
        <% data.forEach(el => { %>
            <div class="col">
                <div class="card h-100">
                    <img src="<%= el.image %>" class="card-img-top img-cover img-fluid" alt="..." style="max-height: 100%;; object-fit: cover;" data-toggle="modal" data-target="#productModal<%= el.id %>">
                    <div class="card-body">
                        <h5 class="card-title text-truncate" ><%= el.name %></h5>
                        <p class="card-text text-truncate"><%= rupiah(el.price) %></p>
                    </div>
                    <form class="add-to-cart-form" action="/shop/products/add-to-cart" method="POST">
                        <input type="hidden" name="ProductId" value="<%= el.id %>">
                        <input type="hidden" name="price" value="<%= el.price %>">
                        <div class="add-to-cart row m-2">
                            <button type="button" class="add-to-cart-btn btn btn-warning">Add to Cart</button>
                        </div>
                        <div class="quantity-selector" style="display: none;">
                            <div class="row m-2">
                                <button type="button" class="minus btn btn-warning col ms-5">-</button>
                                <input type="number" name="quantity" class="col mx-2" value="1" min="1">
                                <button type="button" class="plus btn btn-warning col me-5">+</button>
                                <button type="submit" class="btn btn-warning mt-2">Add to Cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


          <!-- Modal -->
          <div class="modal fade" id="productModal<%= el.id %>" tabindex="-1" role="dialog" aria-labelledby="productModalLabel<%= el.id %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="productModalLabel<%= el.id %>"><%= el.name %></h1>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="<%= el.image %>" class="img-fluid" alt="<%= el.name %>">
                        <p><%= el.description %></p>
                        <p><%= rupiah(el.price) %></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning rounded-5" data-dismiss="modal">Close</button>
                        <!-- Tambahkan tombol lain jika diperlukan -->
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
</div>




<script>
    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
        button.addEventListener('click', (event) => {
            const form = event.target.closest('.add-to-cart-form');
            const addToCartDiv = form.querySelector('.add-to-cart');
            const quantitySelectorDiv = form.querySelector('.quantity-selector');
    
            addToCartDiv.style.display = 'none';
            quantitySelectorDiv.style.display = 'block';
        });
    });
    
    document.querySelectorAll('.quantity-selector').forEach(selector => {
        const minusButton = selector.querySelector('.minus');
        const plusButton = selector.querySelector('.plus');
        const quantityInput = selector.querySelector('input[name="quantity"]');
    
        minusButton.addEventListener('click', () => {
            let quantity = parseInt(quantityInput.value, 10);
            if (quantity > 1) {
                quantityInput.value = quantity - 1;
            }
        });
    
        plusButton.addEventListener('click', () => {
            let quantity = parseInt(quantityInput.value, 10);
            quantityInput.value = quantity + 1;
        });
    });
    </script>


  <%- include('../partials/footer') %>